<html>

<head>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="{{ url_for('static', filename='plotly.min.js') }}"></script> 
	<script type="text/javascript">
		$( document ).ready(function() {
			$.get( "data", function( data ) {
				Plotly.plot(document.getElementById('chart'), data, null, {showLink: false});
			}, "json" );
		});
	</script>
</head>
<body>

<div id="chart"></div>

</body>

<footer>

    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- jQuery -->

</footer>
</html>